body {
    font-family: 'Arvo', serif;
    background-color: maroon;
}

.eat {
    border-block-end-color: black;
    border-style: solid;
  
   

}

.devour {
    border-block-end-color: black;
    border-style: solid;
   
  
}

.new {
    border-block-end-color: black;
    border-style: solid;

}

.jumbotron-fluid {
    display:flex;
    justify-content: center;
    text-align: center;

}


